@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap");

// # Vars
// ## Colors
$grey-300: #f5f5f5;
$grey-400: #ebebeb;
$grey-500: #e0e0e0;
$grey-600: #cccccc;
$white: #ffffff;
$black: #000000;

// ## Sizes
$small-heihgt: 3.5rem;
$small-padding-x: 1rem;
$small-padding-y: 0.5rem;
$medium-padding: 3rem;
$small-gap: 1rem;
$small-border-radius: 5px;
$icon-size: 1.6rem;
$box-shadow: 0px 0px 10px 2px rgba($black, 0.25);

// # Utils
.pointer {
  cursor: pointer;
}

// # Components
.h {
  font-weight: 600;
}

.h3 {
  @extend .h;
  font-size: 2rem;
}

.btn {
  padding: $small-padding-x;

  background-color: $grey-400;
  cursor: pointer;
  font-weight: 500;
  border-radius: $small-border-radius;

  &:hover {
    background-color: $grey-500;
  }
}

// # Global styles
input {
  height: $small-heihgt;
  padding: $small-padding-x;

  border-radius: $small-border-radius;
  border: 1px solid $black;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;

  font-family: "Open Sans";
  font-size: 1.6rem;
  line-height: 140%;
}

.page-container {
  display: flex;
  margin: 0 auto;

  & > * {
    flex: 2;
    padding-top: $medium-padding;
  }
}

// # <SideBar />
.side-bar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: 100vh;

  background-color: $grey-300;

  & > * {
    padding: 0 $small-padding-x;
  }

  &__logo {
    @extend .h3;
    font-weight: 600;
  }

  & .filters {
    display: flex;
    flex-direction: column;
    gap: $small-gap;
    align-items: center;

    &__search {
      padding-left: $medium-padding;

      background-color: $white;
      background-image: url("../assets/search.png");
      background-size: $icon-size;
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 8px;
      border: none;
    }

    &__sort {
      & .active {
        font-weight: 600;
      }
    }
  }

  & .tags-heading {
    @extend .h3;
    align-self: center;
  }

  & .tags {
    padding: 0;

    & .active {
      background-color: $grey-400;
    }

    &__add-btn {
      display: flex;
      align-items: center;
      gap: $small-gap;

      cursor: inherit;
    }

    &__add-icon {
      width: $icon-size;
    }

    &__new-tag-field {
      border: none;
      background-color: $white;
    }

    & > * {
      padding-left: $small-padding-x;
      padding-right: $small-padding-x;
    }
  }

  & .tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    font-weight: 500;

    &__buttons {
      display: flex;
      gap: 0.5rem;
    }

    &__button {
      width: $icon-size;
      box-sizing: content-box;
      padding: $small-padding-y;

      border-radius: $small-border-radius;

      &:hover {
        background-color: $grey-500;
      }
    }
  }

  & .tag,
  & .tags__add-btn-container {
    cursor: pointer;
    font-weight: 500;
    height: $small-heihgt;
    padding-top: $small-padding-y;
    padding-bottom: $small-padding-y;

    &:hover {
      background-color: $grey-400;
    }
  }
}

// # Notes container
.notes {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: $medium-padding;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: $medium-padding;
  position: relative;
}

// ## <Note />
.note {
  display: flex;
  flex-direction: column;
  gap: $small-gap;
  padding: $medium-padding;

  background: $white;
  box-shadow: $box-shadow;
  border-radius: $small-border-radius;

  &__date {
    font-weight: 500;
  }

  &__tags {
    display: flex;
    gap: $small-gap;
  }

  &__tag {
    display: flex;
    align-items: center;

    background-color: $grey-400;
    border-radius: $small-border-radius;
    font-weight: 500;
  }

  &__edit-tags-dropdown {
    position: relative;
  }

  &__text {
    position: relative;
  }

  &__btn {
    display: flex;
    gap: $small-gap;
    align-items: center;
  }

  &__tag,
  &__btn {
    padding: $small-padding-y;
    height: $small-heihgt;
  }

  &__delete-btn,
  &__edit-btn {
    @extend .btn;
    height: $small-heihgt;
  }

  &__icon {
    width: $icon-size;
  }

  &__btns {
    display: flex;
    gap: $small-gap;
    align-self: center;
  }
}

// # <TagsDropDown />
.tags-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  width: 12rem;
  overflow: hidden;

  border-radius: $small-border-radius;
  box-shadow: $box-shadow;
  background-color: $white;

  &__tag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $small-padding-y $small-padding-x;
    height: $small-heihgt;

    font-weight: 500;
    cursor: pointer;

    &:hover {
      background-color: $grey-400;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $icon-size;
    width: $icon-size;

    border: 1px solid $black;
    border-radius: $small-border-radius;
  }

  &__check {
    width: 1.2rem;
  }

  &__save-btn-container {
    margin: $small-padding-y;
    align-self: center;
  }

  &__save-btn {
    @extend .btn;
    height: $small-heihgt;
    padding: $small-padding-y;
  }
}

// Rich text
.rich-text {
  ol {
    list-style: decimal;
  }

  ul,
  ol {
    margin-left: 2rem;
  }

  ul {
    list-style: disc;

    &[data-checked] {
      list-style: none;
      pointer-events: none;
      & li {
        position: relative;
      }

      & li::before {
        position: absolute;
        left: -22px;
        bottom: -3px;
        pointer-events: auto;
      }
    }

    &[data-checked="true"] {
      text-decoration: line-through;
      color: rgba($black, 0.5);
      & li::before {
        content: url("../assets/checked-box.png");
      }
    }

    &[data-checked="false"] li::before {
      content: url("../assets/check-box.png");
    }
  }

  blockquote {
    border-left: 4px solid $grey-500;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
  }
}

// # <Draft />
.draft {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: calc($small-gap * 2);
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: $medium-padding;
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: 100vh;

  &__text {
    padding: $small-padding-x;
    height: 80%;

    box-shadow: $box-shadow;
    border-radius: $small-border-radius;
    background-color: $white;

    &:focus {
      outline: none;
    }
  }

  &__add-note-btn {
    @extend .btn;
    display: flex;
    align-items: center;
    align-self: center;
    gap: $small-gap;
    height: $small-heihgt;
  }

  &__icon {
    width: $icon-size;
  }
}

.text-editor {
  height: 100%;
  width: 100%;
  padding: $small-padding-x * 2;
  display: flex;
  flex-direction: column;
  gap: $small-gap;

  border-radius: $small-border-radius;
  box-shadow: $box-shadow;

  // Toolbar controls formatting
  &__toolbar {
    display: flex;
    gap: calc($small-gap / 2);
    padding-bottom: $small-gap;

    border-bottom: 1px solid $grey-500;
    & .button {
      padding: 1.4rem;

      cursor: pointer;
      background-size: $icon-size;
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: center;
      border-radius: $small-border-radius;

      &:hover,
      &.ql-active {
        background-color: $grey-400;
      }
    }

    & .ql-bold {
      background-image: url("../assets/bold.png");
    }

    & .ql-italic {
      background-image: url("../assets/italic.png");
    }

    & .ql-underline {
      background-image: url("../assets/underline.png");
    }

    & .ql-strike {
      background-image: url("../assets/strikethrough.png");
    }

    & .ql-list.bulleted-list {
      background-image: url("../assets/bullet-list.png");
    }

    & .ql-list.numbered-list {
      background-image: url("../assets/ordered-list.png");
    }

    & .ql-list.check-list {
      background-image: url("../assets/checked-box.png");
    }

    & .ql-link {
      background-image: url("../assets/link.png");
    }

    & .ql-blockquote {
      background-image: url("../assets/quote.png");
    }
  }

  &__text-area {
    padding-top: $small-gap;
    height: 100%;

    .ql-editor {
      height: 100%;

      &:focus {
        outline: none;
      }

      ul[data-checked] li::before {
        cursor: pointer;
      }
    }

    .ql-clipboard {
      left: -100000px;
      height: 1px;
      overflow-y: hidden;
      position: absolute;
      top: 50%;
    }
  }
}

// # <OverflowField />
.overflow-field {
  display: flex;
  flex-direction: column;
  gap: $small-gap;
  position: absolute;
  top: 0;
  left: 0;
  padding: $small-padding-x;
  z-index: 1;

  cursor: default;
  box-shadow: $box-shadow;
  background-color: $white;
  border-radius: $small-border-radius;

  &__field {
    overflow: hidden;

    &:focus {
      outline: none;
    }
  }

  &__save-btn {
    @extend .btn;
    align-self: center;
    height: $small-heihgt;
    padding: $small-padding-y;
  }
}

// # <Overlay />
.overlay {
  position: absolute;
  inset: 0;
  z-index: 998;
  height: 100%;
  width: 100%;

  background-color: transparent;
}
